/niko
/__pycache__
/.vscode/settings.json
/.vscode/ipch
/Africa
/testBox.py
/vizualizacija/app/Drone_OpenGL/build*
/vizualizacija/app/Drone_OpenGL/DroneOpenGL/DroneOpenGL.pro.user
rg/objekti/BMW X5 4.obj
rg/objekti/vaja2_don.obj
rg/objekti/vaja2_icoSphere.obj
rg/objekti/vaja2_mon.obj

/**/ST/**/*.o
/**/ST/**/*.su
/**/ST/**/*.d
/**/ST/**/*.mk
/**/ST/**/*.elf
/**/ST/**/*.list
/**/ST/**/*.map
/**/ST/**/makefile
fifi/.metadata/*.*
